<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>730369198028-c0fmbbigsbjrmbm85racbo5q1n5jf5ut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.730369198028-c0fmbbigsbjrmbm85racbo5q1n5jf5ut</string>
	<key>API_KEY</key>
	<string>AIzaSyDCDMRsfF-dkkVfX4INgSLp3nUC9nG-cYc</string>
	<key>GCM_SENDER_ID</key>
	<string>730369198028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uxbert.One-a-Day</string>
	<key>PROJECT_ID</key>
	<string>oneaday-d2633</string>
	<key>STORAGE_BUCKET</key>
	<string>oneaday-d2633.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:730369198028:ios:7c9f863eb95e28fd3ebf69</string>
</dict>
</plist>